#box1{
    .btn{
        background-color: #06c540;
        color: white;
}  
.am-list-content span,a{
    color: #06c540;
}
.err{
    color: rgb(248, 103, 103);
}   
.Verification {
    position: relative;
    button{
        position: absolute;
        right: 10px;
        top: 2px;
        height: 30px;
        background-color: rgb(245, 245, 245);
        border: none;
        color: rgb(206, 206, 206);
    }
}
}